
<%- include('header'); -%>
<h1>Welcome to To-do-List!</h1>
<br>
<p>I will also add database and user authentication in future...</p>
<br>
<br>
<h6>Thank you!</h6>
<br>

<%- include('footer'); -%>
